name: Build and Push Docker Image
on:
    workflow_dispatch: 
    push: 
        branches:
            - main
jobs:
    build-docker:
        runs-on: ubuntu-latest
        env:
            USERNAME: ${{ vars.DOCKER_USERNAME}}
            IMG_NAME: gemini-pdf-extractor
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ env.USERNAME }}
                  password: ${{ secrets.DOCKER_TOKEN }}
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: true
                context: .
                file: Dockerfile
                tags: ${{ env.USERNAME }}/${{ env.IMG_NAME }}:latest
                cache-from: type=registry,ref=${{ env.USERNAME }}/${{ env.IMG_NAME }}:latest
                cache-to: type=inline